/* Chatbot.css */
.back-container{
  
  background: linear-gradient(to right, #4ba1f8, #40268b);
  width: 100vw; /* Change height to width for full width */
  
}
/* chatbot.css */

.chatbot-container {
  width: 800px;
  margin: auto;
  height: 800px;
  
  overflow: hidden;
}

.conversation-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  height: 500px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.user,
.bot {
  margin: 5px 0;
}

.user .label,
.bot .label {
  font-weight: bold;
}

.user .message {
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  padding: 8px;
  margin-left: auto; /* Align to the right */
  width: 400px;
}

.bot .message {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 8px;
  margin-right: auto; /* Align to the left */
  width: 500px;
}

.user-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.user-input-container input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
}

.user-input-container button {
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
