
    .input-container {
      display: flex;
      margin: 20px;
      width: 100%;
    }
  
    .left-container {
      flex: 3;
      /* background-color: #4caf50; */
      height: 100px;
      justify-content: center;
    }
    .right-container {
      height: 100px;
     flex: 3;
     display: flex;
     /* justify-content: center; */
    }
  
  
  
    .green-button {
      width: 100%;
      background-color: green;
      color: white;
      font-size: 18px;
    }
  
      
      input {
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      
      }
      
      .add-button {
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
      
      .add-button:hover {
        background-color: #45a049;
      }
